* {
  border-radius:3px;
  font-family:monospace;
  text-decoration: none!important;
}
body {
  /* background-image: url(); */
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6) ), url('https://images.pexels.com/photos/368260/pexels-photo-368260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  position: absolute;
  bottom:0;
  top:0;
  right:0;
  left:0;
  background-attachment: fixed;
  background-blend-mode: darken;
  padding:5px;
}
.carousel {
  background-color: black!important;
  width: 100%;
  color:white;
}
.carousel-caption {
  /* bottom: -50px!important; */
  padding-bottom: 50px;
  position: relative!important;
  width:100%;
  text-align: center;
  left:0!important;
  right:0!important;
}
.carousel-control {
  height:87%;
}
.carousel-inner {
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    width:50em;
    max-height:350px;
}
.carousel_title {
  width:100%;
  text-align: center;
  padding:20px;
  font-size: 35px;
}
.contact_icons {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}
.content {
  width:70%;
  margin:auto;
}
.timeline_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: calc(50% - 5px);
}
.timeline_container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #55ddff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.container_left {
  left: 0;
}
.container_right {
  left:50%;
}
.footer {
  background-color:grey;
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 20px;
  z-index: 1;
  display:none;
}
.easter_egg_text {
  position: absolute;
  bottom: 5px;
  color: white;
  width:70%;
  text-align: center;
}
.footer_link a {
  color:#b73333!important;
  position: absolute;
  bottom: 10px;
  right: calc(50% - 70px);
}
.form_text {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 3em;
}
.icon {
  width: 35px;
  display:block;
  margin-top:5px;
}
.intro {
  width: 100%;
  padding: 20px;
}
.intro_text {
  width: 95%;
  line-height: 30px;
  padding: 1em;
  font-size:25px;
}
.item {
  overflow-y: visible;
}
.item_row {
  width:100%;
  padding: 0 5%;
}
.item_row_logo {
  width:50px;
  margin: 20px 15px;
}
.item_row_logo:first-of-type {
  margin-left:25px;
}
.item_row_title {
  width:100%;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}
#lead_form {
}
.lead_form {
  width:100%;
  padding: 0 10%;
}
.lead_form input {
  width:45%;
  padding:20px;
  margin-bottom: 10px;
}
.lead_form input:nth-child(even) {
  float:right;
}
.left {
  float:left;
}
.link {
  width:100%;
  text-align:center;
  font-size: 35px;
}
.container_left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
#link_section {
  height: 20em;
  padding:15px;
}
.list_item_title {
  text-align: center;
  font-size: 15px;
  padding:5%;
  font-weight: bold;
}
.page_text {
  word-break: break-word;
  margin: 5%;
  margin-top:0;
  text-align:center;
}
.logo {
  float:right;
  width:30px;
  font-size:30px;
  line-height: 30px;
  color:white;
  margin:10px;
  display:none;
}
.menu {
  float:left;
  position: fixed;
  width:30px;
  margin:10px;
  color:white;
  display:none;
}
.profile {
  margin: auto;
  width: 100%;
  text-align: right;
}
.profile > img {
  border-radius: 50%;
  float:left;
  width:300px;
  margin:1em;
}
.profile_title {
  padding:.75em;
  font-size: 35px;
  width:95%;
}
.row_50 {
  width:45%;
  font-size: 25px;
}
.row_50 > p {
  font-size: 14px;
}
.row_50_image {
  width:5em;
  margin:auto;
  margin-left: 35%;
}
.row_50_text {
  margin: 15px 20px;
}
.right {
  float:right;
}
.container_right::after {
  left: -13px;
}
.container_right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.scroll_button {
  position: absolute;
  right: calc(50% - 25px);
  margin-top: -45px;
}
.section {
  width:100%;
  background-color:#eee;
  margin-top:2em;
  min-height:4em;
  display:inline-block;
}
.section:nth-child(even) {
  background-color: white;
}
.section_title {
  width:100%;
  text-align: center;
  font-size: 30px;
  color: grey;
  margin: 10px 0;
}
#submit_button {
  width:60%;
  border-radius: 4px;
  background-color:#b8bcff;
  margin: 2em 20%;
  float:none!important;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color:#dadada
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 10px;
  bottom: 10px;
  left: 50%;
  margin-left: -3px;
  border-radius: 10px;
}
.timeline_content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* BEGIN MEDIA QUERIES */
@media only screen and (max-width: 500px) {
    .control-panel {
      display:none!important;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width:40em;
    }
    .contact_icons {
      display:none;
    }
    .content {
      width:100%;
    }

    .easter_egg_text {
      display:none;
    }
    .form_text {
      width:90%;
    }
    input {
      float: none!important;
      width:100%!important;
      margin:10px auto!important;
    }
    .intro {
    }
    .item_row {
      padding: 0 10px;
    }
    .item_row_set {
      margin-left: 7%;
    }
    #link_section {
    }
    .logo {
      color:black;
    }
    .menu {
      color:black;
    }
    p {
      font-size: 20px;
      line-height: 30px!important;
      margin:auto;
    }
    .page_title {
      max-width: 100%;
    }
    .profile {
      text-align: center;
    }
    .profile > img {
      width:75%;
      float:none;
    }
    .profile_title {
      display:none;
    }
    .row_50_image {
      width: 3.6em;
      margin:auto;
      margin:auto;
    }
    .row_50_text {
      margin:auto;
    }
    .row_50 > p {
      display:none;
    }
    .section {
    }
    .submit_button {
      right:calc(50% - 112.5px)!important;
    }




    /* WIP */
    /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .timeline_container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .timeline_container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .container_left::after, .container_right::after {
    left: 18px;
  }

/* Make all right containers behave like the left ones */
  .container_right {
    left: 0%;
  }
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 3em;
  height: 3em;
  transform: rotate(90deg);
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}





.canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
